.img { display: block; }

.img-pow { width:500px; height:500px; background:url("../images/pow.png"); background-size: 100% 100%; }


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .img-pow { background-image:url("../images/pow@2x.png"); }

}
